.twocol .left, .twocol .right {
  width: 48%;
  float: left; }
.twocol .right {
  margin-left: 3%; }
.twocol .divider {
  border-left: 1px solid #ccc;
  height: 300px;
  float: left;
  margin-top: 100px; }
