%h2 New Message
.new_message
  - form_remote_tag :url => messages_path do
    = submit_tag('Send', :class => 'fright', :tabindex => 3)
    .form_field
      = text_field_tag(:to, params[:to], :tabindex => 1)
      %label{ :for => 'to' } To
    = text_area_tag(:message, params[:body], :size => '40x4', :tabindex => 2)
