= juggernaut(:channels => [current_user.jabber_user.login])

.twocol
  .left
    %h2 Buddy List
    %ul#buddy_list
  .right
    %h2 messages
    %ul#messages
.clear
= render :partial => 'new_message'

= javascript_include_tag 'buddy_list', 'messages'
